* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: darkred;
  font-size: 20px;
}
a {
  text-decoration: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin: 25px auto;
}
td {
  border: 1px solid darkred;
  height: 50px;
  width: 33.33%;
}
.w90p {
  width: 90%;
}
.w80p {
  width: 80%;
}
.w75p {
  width: 75%;
}
.w40p {
  width: 40%;
}
.w60p {
  width: 60%;
}
.w28p {
  width: 28%;
}
.h200 {
  height: 200px;
}
/* visual */
.bg-img {
  position: fixed;
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(59, 59, 59);
  background-image: url(../img/background-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 50vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.container {
  width: 100vw;
  max-width: 1280px;
  padding: 20px;
  position: relative;
  margin: 0 auto;
}
.content {
  margin-top: 110px;
  margin-bottom: 70px;
}
.container > h1,
p {
  text-align: center;
  color: darkred;
}
.whitetext-centralizer {
  text-align: center;
  color: antiquewhite;
}
.link-block {
  width: 50%;
}
.link-block--table1 {
  float: left;
}
.link-block--table2 {
  float: right;
}
.link-block--main-page {
  float: left;
}
.links {
  color: dodgerblue;
  font-size: 30px;
  border: 2px solid rgb(192, 4, 4);
  background-color: rgb(134, 31, 31);
  display: flex;
  justify-content: center;
  margin: 30px 100px;
  padding: 5px;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
.links:hover {
  transform: scale(1.1);
  background-color: rgb(199, 41, 41);
  border: 2px solid rgb(138, 2, 2);
}
